<div class="row">
  <div class="col-md-6">
    <h2>Books:</h2>
  </div>
</div>

<table class='table table-striped'>
  <thead class="inverse-striped">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
    </tr>
  </tbody>
</table>
